
/*Estilização universal do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #008080;
  
}

h1{
    justify-content: center;
    display: flex;
    margin-left: center;
    width: 100%;
    box-shadow: inset 0 0 1em rgb(245, 6, 6), 0 0 1em rgb(0, 0, 0);
    font-size: 3vw;
    color:white;
}

header ul li{
    display: inline-block;
    margin-left:20vw;
    color:white;
    width:10vw;
    font-size:200;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}