
/*Estilização universal do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #008080;
  
}

h1{
    justify-content: center;
    display: flex;
    margin-left: center;
    width: 100%;
    box-shadow: inset 0 0 1em rgb(245, 6, 6), 0 0 1em rgb(0, 0, 0);
    font-size: 3vw;
    color:white;
}
.container_menu li{
    
   
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width:100%;
    align-items: center;
    color: white;
    margin-left: 1vw;
    list-style: none;
    font-weight: 600;
    font-size: 1.5rem;
    
}