*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container-header{
    width: 100%;
   
}
.container-menu{
    width: 100%;
    height: 200px;
    background-color: teal;
    font-size: 20px;
    justify-content: center;
}
.container-ul{
    display: flex;
    justify-content: space-evenly;
    
}
.container_menu--list{
    color: black;
 
}
.container_menu--list:hover{
    font-weight: 300;
}
.main{
    justify-content: center;
   
}
.botao{
   margin-left: 8vw;
}
.caixa-imagem{
    width: 100%;
    justify-content: space-evenly;
    
}

.caixa-teste{
    width: 100%;
    
}
.rodape{
    
   
    background-color: #00000029;
    position: absolute;
}
.footer-rodape{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer-copyright{
    
   
    display: flex;
    color:#000;
    
    
}